.principal{
    width: 100%;
   /*  background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.conboton{
    width: 50%;
    margin-top: 50px;
   /*  background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fila1{
    height: 25%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.afila2{
    width: 100%;
   /*  height: 50%; */
    display: flex;
    justify-content: center;
}
.fila2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.fila3{
    height: 25%;
    width: 100%;
   /*  background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnmas{
    background-color: rgb(63, 159, 219);
    color: white;
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btneliminar{
    border: 2px solid red;
    color: red;
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
}
.btnguardar{
    border: 2px solid green;
    color: green;
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
}
.btnlimpiar{
    border: 2px rgb(50, 151, 202) solid;
    color: rgb(50, 151, 202);
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
}
.contenido1{
    width: 80%;
    height: 100%;
    display: flex;
    border: 2px silver;
    border-style: dotted;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.btneliminar22{
    background-color: red;
    color: white;
    border-radius: 6px;
}
.caja{
    margin-bottom: 60px;
}
.pinput{
    margin-top: 35px;
    font-size: 12px;
}