<div class="principal">
        <form 
        [formGroup]="form" class="conboton">
            <div class="fila1">
                <button class="btnmas" mat-button (click)="adicionMaterial()">+</button>
                <button class="btneliminar" mat-button>Eliminar todo</button>
            </div>
            <div class="afila2">
              <div class="fila2" formArrayName="utiles">
                <div class="contenido1" *ngFor="let s of utilesEscolares.controls; let i = index ">
                    <div class="input">
                        <p class="pinput">Utiles Escolares</p>
                    <input class="caja" matInput #message formControlName="nombre">
                    </div>
                    <div class="click">
                    <mat-checkbox class="example-margin" formControlName="check">Aceptar</mat-checkbox>
                    </div>
                    <div class="btneliminar2">
                        <button class="btneliminar22" mat-button>Eliminar</button>
                    </div>
                </div>
              </div>
            </div>
            <br>
            <div class="fila3">
                <button class="btnguardar" mat-button>Guardar</button>
                <button class="btnlimpiar" mat-button>Limpiar</button>
            </div>
          </form>
  </div>